<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>pack.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_tdesup</servlet-name>
        <servlet-class>pack.Servlet_tdesup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ceaserup</servlet-name>
        <servlet-class>pack.Servlet_ceaserup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_rsaup</servlet-name>
        <servlet-class>pack.Servlet_rsaup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download_tdes</servlet-name>
        <servlet-class>pack.download_tdes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_ceaser</servlet-name>
        <servlet-class>pack.Download_ceaser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_rsa</servlet-name>
        <servlet-class>pack.Download_rsa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>pack.CheckAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download1</servlet-name>
        <servlet-class>pack.download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_tdesup</servlet-name>
        <url-pattern>/Servlet_tdesup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ceaserup</servlet-name>
        <url-pattern>/Servlet_ceaserup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_rsaup</servlet-name>
        <url-pattern>/Servlet_rsaup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download_tdes</servlet-name>
        <url-pattern>/download_tdes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_ceaser</servlet-name>
        <url-pattern>/Download_ceaser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_rsa</servlet-name>
        <url-pattern>/Download_rsa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download1</servlet-name>
        <url-pattern>/download1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
